<!doctype html>
<html ng-app="bbs">
	<head>
		<title>BBS Client</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/bbs.css">


		<script src="/static/vendor/moment.min.js"></script>
		<script src="/static/vendor/marked.js"></script>
		<script src="/static/vendor/reconnecting-websocket.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.js"></script>

		<script src="/static/bbs.js"></script>

	</head>
	<body>
		<!-- top bar -->
		<div class="topBar">
			<span class="topBarHeader">
				<span ng-show="!currentServer">
					<a href="#/servers" style="text-decoration: none;">bbs client</a>
				</span>
				<span ng-if="currentServer">
					<a href="#/home" style="text-decoration: none;">{{currentServer.name}}</a>
				</span>
			</span>
			<span class="topBarItem" ng-show="!currentServer.bookmarks || currentServer.bookmarks.length == 0">
				<a href="#/threads">all</a>
			</span>

			<span class="pull-right">
				<span ng-if="currentServer && currentServer.can('login')">
					<span class="topBarItem" ng-show="currentServer.loggedIn">
						<a href="#/logout">log out</a>
					</span>
					<span class="topBarItem" ng-show="!currentServer.loggedIn && currentServer.can('register')">
						<a href="#/register">register</a>
					</span>
					<span class="topBarItem" ng-show="!currentServer.loggedIn">
						<a href="#/login">log in</a>
					</span>
				</span>
				<span ng-show="!currentServer || !currentServer.can('login')">
					<a href="#/servers">servers</a>
				</span>
			</span>
		</div>
		<div class="topBar menuBar" ng-if="currentServer && currentServer.bookmarks.length > 0">
			<ul class="inlineList">
			<li ng-repeat="bookmark in currentServer.bookmarks">
				<a ng-href="#/threads/{{bookmark.query}}">{{bookmark.name}}</a>
			</li>
			</ul>
		</div>
		<!-- content -->
		<div ng-view></div>
	</body>
</html>