body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0.5em;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

button {
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 1px;
	padding: 0.3em;
	font-weight: bold;
}

button:hover {
	background-color: Gainsboro;
}

div.topBar {
	color: black;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
}

div.menuBar {
	margin-top: 0.5em;
}

div.topBar a {
	color: black;
}

div.topBar a:visited {
	color: black;
}

span.topBarHeader {
	margin-right: 1em;
}

span.topBarItem {
	margin-left: 1em;
} 

div.errorBox {
	background-color: red;
	color: black;
	padding: 0.5em;
}

a.fullBoxLink {
	text-decoration: none;
}

div.clickyBox {
	color: white;
	background-color: black;
	padding: 0.5em;
	cursor: pointer;
	margin-bottom: 0.5em;
}

div.clickyBox a {
	color: white;
}

div.clickyBox a:visited {
	color: white;
}

div.clickyBox hr {
	border: 0;
	width: 100%;
	color: white;
	background-color: white;
	height: 1px;
}