body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 10.5pt;
   background: #cfcfcf;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0.5em;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

button {
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 1px;
	padding: 0.3em;
	font-weight: bold;
	font-size: 11pt;
	cursor: pointer;
}

button:hover {
	background-color: Gainsboro;
}

div.topBar {
	color: white;
	padding: 0.5em;
	background-color: #4b73aa;
}

div.menuBar {
	margin-top: 0.2em;
}

div.topBar a {
	color: white;
}

div.topBar a:visited {
	color: white;
}

span.topBarHeader {
	margin-right: 1em;
}

span.topBarItem {
	margin-left: 1em;
} 

div.errorBox {
	background-color: red;
	color: black;
	padding: 0.5em;
	margin-top: 0.5em;
}

a.fullBoxLink {
	text-decoration: none;
}

div.messageTop {
	background-color: #6896d5;
	color: black;
	padding: 0.5em;
}

div.messageTop a {
	color: black;
}

div.messageTop a:visited {
	color: black;
}

div.clickyBox {
	color: black;
	background-color: #dde3eb;
	padding: 0.5em;
	cursor: pointer;
	margin-bottom: 0.2em;
}

div.clickyBox a {
	color: black;
	text-decoration: underline;
}

div.clickyBox a:visited {
	color: black;
}

div.clickyBox hr {
	border: 0;
	width: 100%;
	color: white;
	background-color: white;
	height: 1px;
}

ul.inlineList {
	display: inline;
}

ul.inlineList li {
	display: inline;
}

ul.inlineList li:after {
	content: " ・ ";
}

ul.inlineList li:last-child:after {
	content: "";
}

.danger {
	color: red !important;
}

/* ETI compat */
.quoted-message{border-left:2px solid #144fae;color:#144fae;padding-left:8px}
.quoted-message .quoted-message{border-color:#006312;color:#006312}
.quoted-message .quoted-message .quoted-message{border-color:#540000;color:#540000}
.quoted-message .message-top{text-decoration:underline;}
.quoted-message .message-top em{font-style:normal}
.quoted-message .message-top a{color: inherit; text-decoration: none}
