<div class="topBar menuBar">
	<span ng-show="query">
		<a href="#/threads">threads</a> » {{query}}
	</span> 
	<span ng-show="!query">
		threads » all
	</span>
</div>
<div class="errorBox" ng-show="error">
	{{error}}
</div>
<div style="text-align: right; margin-top: 0.5em;">
	<a href="#/post"><button>&#x270e; New Thread</button></a>
</div>
<ul>
	<li ng-repeat="thread in threads">
		<a ng-href="#/get/{{thread.id}}" class="fullBoxLink">
			<div class="clickyBox" ng-click="view(thread)">
				<div>
					<span>{{thread.title}}</span>
				</div>
				<div ng-show="thread.tags" style="text-align: right;">
					<ul class="inlineList">
						<li ng-repeat="tag in thread.tags">
							<a ng-href="#/threads/{{tag}}" ng-class="{'danger': dangerous(tag)}">{{tag}}</a>
						</li>
					</ul>				</div>
				<div style="text-align: right;" ng-show="thread.user">
					{{thread.user}}
				</div>
				<div style="text-align: right;">
					<span ng-show="thread.posts">
						<ng-pluralize count="{{thread.posts}}"
						when="{'1': '1 post',
							   'other': '{{thread.posts}} posts'}">
					</span>
					<span ng-show="thread.posts"> ・ </span> 
					<span>{{thread.date | ago}}</span>
				</div>
			</div>
		</a>
	</li>
	<li ng-show="next">
		<div class="clickyBox" ng-click="loadMore()">
			Load more...
		</div>
	</li>
</ul>