<div class="errorBox" ng-show="error">
	{{error}}
</div>
<div style="min-height: 2em; margin-top: 0.2em; text-align: justify; font-size: 15pt;">
		<span ng-show="filter">
			<a ng-href="#/get/{{id}}">{{title}}</a> » Filtering by {{filter}}
		</span> 
		<span ng-show="!filter">
			{{title}}
		</span>
		<div style="font-size: 9pt;" ng-show="_tags">
			<ul class="inlineList">
				<li ng-repeat="tag in tags">
					<a ng-href="#/threads/{{tag}}">{{tag}}</a>
				</li>
			</ul>
		</div>
</div>
<div style="margin-top: 0.2em; text-align: right;" ng-click="reply()" ng-show="false">
	<button ng-click="reply()">&#x270e;</button>
</div>
<ul>
	<li ng-repeat="message in messages">
		<div class="messageTop" ng-init="canFilter=currentServer.supports('filter')">
			<span ng-show="canFilter">
				<a ng-href="#/get/{{id}}/{{message.user_id || message.user}}" style="text-decoration: none;">{{message.user}}</a>
			</span>
			<span ng-show="!canFilter">
				{{message.user}}
			</span>
			<span class="pull-right">
				{{message.date | ago}}
			</span>
		</div>
		<div style="margin-top: 0.2em; margin-bottom: 0.2em;" ng-show="!message.body">
		</div>
		<div class="clickyBox" ng-show="message.body">
			<span ng-show="format == 'html'" ng-bind-html-unsafe="message.body"></span>
			<span ng-show="format == 'markdown'"><markdown ng-model="message.body"></markdown></span>
			<span ng-show="format == 'text' || !format">{{message.body}}</span>
		</div>
	</li>
	<li ng-show="!messages || messages.length == 0">
		<div class="clickyBox" ng-click="loadMore()">
			Loading...
		</div>
	</li>
	<li ng-show="next">
		<div class="clickyBox" ng-click="loadMore()">
			Load more...
		</div>
	</li>
	<li ng-show="!closed">
		<div class="clickyBox" ng-click="reply()">
			&#x270e; Reply
		</div>
	</li>
	<li ng-show="closed">
		<div class="clickyBox">
			Thread is closed, can't reply.
		</div>
	</li>
</ul>