<div class="topBar menuBar">
	<span ng-show="query">
		<a href="#/threads">threads</a> » {{query}}
	</span> 
	<span ng-show="!query">
		threads » all
	</span>
</div>
<ul>
	<li ng-repeat="thread in threads">
		<div class="clickyBox">
			<div>
				<span><b>{{thread.title}}</b></span>
				<span class="pull-right" ng-show="thread.tags">
					<span ng-repeat="tag in thread.tags">
						<a ng-href="#/threads/{{tag}}">{{tag}}</a>
					</span>
				</span>
			</div>
			<div>
				<span>{{thread.user}}</span> 
				<span class="pull-right">
					<span ng-show="thread.posts">
						<ng-pluralize count="{{thread.posts}}"
						when="{'1': '1 post',
							   'other': '{{thread.posts}} posts'}">
					</span>
					<span ng-show="thread.posts"> ・ </span> 
					<span>{{thread.date | ago}}</span>
				</span>
			</div>
		</div>
	</li>
	<li ng-show="next">
		<div class="clickyBox" ng-click="loadMore()">
			Load more...
		</div>
	</li>
</ul>